/* Configuração geral */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

/* Padronização */
h1,
h2,
h3 {
  color: #563823;
  line-height: 1.8;
}

p {
  color: #70747a;
}

/* Navbar */
nav {
  position: relative;
}

.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #232a31;
  padding: 0 1rem;
}

.navbar-items {
  position: absolute;
  right: 0;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}

.navbar-items li {
  display: inline-block;
  text-transform: none;
  margin-left: 25px;
}

.navbar-items a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.navbar-items a:hover {
  color: #ccc;
}

/* Botão sessão */
.default-btn {
  padding: 15px 20px;
  background-color: #563823;
  border-radius: 5px;
}

.navbar-items .default-btn:hover {
  background-color: #563823;
  color: #fff;
}

/* Banner */
.main-banner {
  background-image: url(./imagens/banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 9rem 0;
}

/* Fonte banner */
@font-face {
  font-family: "CustomFont";
  src: url(./fonte/Summer\ Vibes\ OTF.otf) format("truetype");
}

/* Main */
.main-banner h1,
.main-banner p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: #000 3px 2px 3px;
  font-family: "CustomFont", sans-serif;
}

.main-banner h1 {
  font-size: 85px;
}

.main-banner p {
  font-size: 38px;
}

/* Sobre */
.chamada {
  font-size: 28px;
  color: #563823;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0 1rem 0;
  letter-spacing: 1px;
  line-height: 1.3;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.08);
}

.text-about {
  padding: 3rem 1rem;
  text-align: center;
}

.text-about h3 {
  font-size: 28px;
  color: #563823;
  margin-bottom: 1rem;
  font-weight: bold;
}

.text-about p {
  font-size: 18px;
  color: #70747a;
  line-height: 1.8;
  margin-bottom: 1rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 2rem;
}

/* Destino */
.destino-container {
  width: 40%;
  font-size: 15px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  columns: 2;
  text-align: start;
}

.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #70747a;
}

.destino-btn,
.reserva-btn {
  width: auto;
  padding: 10px 20px;
  font-size: 15px;
  background-color: #563823;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.destino-btn:hover,
.reserva-btn:hover {
  background-color: #704c3e;
}

/* Pacotes */
.img-pacote {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
  object-fit: cover;
}

.pacotes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.pacote {
  margin-top: auto;
  width: calc(33.333% - 1rem);
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}

.descricao-pacote {
  line-height: 1.8;
  margin-bottom: 1rem;
  font-size: 15px;
}

/* Formulário de contato */
section form {
  background: #f9f9f9;
  max-width: 450px;
  margin: 2rem auto;
  padding: 2rem 2rem 1.5rem 2rem;
  border-radius: 5px;
  font-size: 15px;
}

section form h3 {
  text-align: center;
  color: #563823;
  font-size: 28px;
  margin-bottom: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  margin-bottom: 0.4rem;
  color: #563823;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #70747a;
  font-size: 15px;
  background: #fff;
  resize: none;
}

.contato-btn {
  display: block;
  margin: 1.5rem auto 0 auto;
  padding: 10px 30px;
  background-color: #563823;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contato-btn:hover {
  background-color: #704c3e;
}
